<div id="<%= dom_id parcel %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Street1:</strong>
    <%= parcel.street1 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Street2:</strong>
    <%= parcel.street2 %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= parcel.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= parcel.state %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zip code:</strong>
    <%= parcel.zip_code %>
  </div>
</div>
